#root {
  margin: auto;
}

.imageList{
  margin: auto;
  padding: 0;
}

.imageListContainer{
  margin: 0;
  padding: 0;
}

.flexbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;
  height: 100px;
}