h2 {
    margin: 0;
}

.albumCover {
    display: block;
    padding: 0;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.albumCoverImage {
    display: block;
    max-width: 400px;
    max-height: 400px;
  }

.albumCoverContainer {
    position: relative;
    display: block;
  }
  
.albumCoverOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 31, 65);
    color: #fff;
    opacity: .5;

    transition: .3s ease;
}

.albumCoverText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
.albumCoverContainer:hover .albumCoverOverlay {
    visibility: visible;
    opacity: 1;
  }